@tailwind base;
@tailwind components;
@tailwind utilities;
 
@font-face {
  font-family: best;
  src: url(./assets/file.woff2);
}
@font-face {
  font-family: best1;
  src: url(./assets/file1.woff2);
}
@font-face {
  font-family: best2;
  src: url(./assets/file.woff2);
}
 *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: gilroy;
  color: #fff;
}

#page1-in {
  position: relative;
  perspective: 1500px;
 
}
#section2 {
  position: relative;
  perspective:1000px;
 
}


#tiltDiv {
  width: fit-content;
}

